blessings==1.6
bpython==0.15
curtsies==0.2.6
Django==1.9.1
django-appconf==1.0.1
django-bower==5.0.4
django-braces==1.8.1
django-compressor==2.0
django-crispy-forms==1.6.0
django-grappelli==2.7.3
django-libsass==0.6
easy-thumbnails==2.3
greenlet==0.4.9
libsass==0.10.0
mysqlclient==1.3.7
Pillow==3.1.0
Pygments==2.1
pytz==2015.7
rcssmin==1.0.6
requests==2.9.1
rjsmin==1.0.12
six==1.10.0
uWSGI==2.0.12
wcwidth==0.1.6
