<!DOCTYPE html>
<html lang="pt-BR">
  {% load staticfiles %}
  {% load compress %}
  <head>
    <meta charset="utf-8">
    <title>{% block brand %}{% endblock %}|{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta name="author" content="">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'sass/base.sass' %}" media="screen, projection" rel="stylesheet"
      type="text/x-sass" />
    {% endcompress %}
    {% block extra_sass %}{% endblock %}
  </head>

  <body>
    <h1>Is alive!</h1>
  </body>
</html>
